<!DOCTYPE html>
<html>
<head>
  <title>Welcome to To Birthday app Homepage</title>
  <style>
    body {
      background-color: linen;
      justify-content: center;
    }
    ul {
      display: inline-block;
    }
    .logo{
      justify-content: center;
    }
    h1 {
      color: maroon;
      margin-left: 40px;
    }
    </style>
</head>
<body>
  <h1>Welcome to Birthday App Homepage</h1>
  <p>This is the homepage of the To Do App. You can navigate to the following pages:</p>
  <section id="cta">
    <h2>Get Started Today!</h2>
    <p>Join our community and experience the best.</p>
    <a href="/create" class="button">Subscribe</a>
  </section>
</body>
</html>