<!DOCTYPE html>
<html>
<head>
  <title>Welcome to To Birthday app Homepage</title>
</head>
<body>
  <h1>Welcome to Birthday App Homepage</h1>
  <p>This is the homepage of the To Do App. You can navigate to the following pages:</p>
</body>
</html>